.proposal {
  @media (max-width: 992px) {
	.row {
	  flex-direction: column;
	}
	&__item-left {
	  flex-direction: column;

	  &:after {
		width: 303px;
		height: 4px;
		margin-bottom: 20px;
	  }
	  ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		flex-direction: row;
		gap: 20px;
		padding-right: 0;
	  }
	}
	.col-7, .col-5 {
	  width: 100%;
	  text-align: center;
	}
	&__content {
	  padding-left: 0;
	}
  }

  @media (max-width: 567px){
	.proposal__item-left {
	  &:after{
		width: 95%;
	  }
	  ul {
		flex-direction: column;
		a {
		  font-size: $font-xl;
		}
	  }
	}
  }
}