.teamPage{
  @media (max-width: 1025px){
	&{
	  padding: 270px 0 60px 0;
	}
  }
  @media (max-width: 768px){
	&{
	  padding: 170px 0 60px 0;
	}
  }
  @media (max-width: 576px) {
	&__item {
	  margin-bottom: 30px;
	}
	h1{
	  width: 100%;
	}
  }
}